.container-hero {
    min-height: 91vh;
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-color: #cccccc;
    width: 100vw;
    margin: 0 auto;
}

.container-hero-small {
  height: 100%;
  
  background-size: cover;
  background-color: white;
  width: 100vw;
  margin: 0 auto;
}

.container-hero-small-img {
  height: 50vh;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-color: #cccccc;
  width: 100vw;
  margin: 0 auto;
}



/* Centering Content */
.row-flex {
    display: flex;
    justify-content: center;
  }
  
  .col-flex {
    /* **width % is relative to amount of col's req eg 4x = 25% */
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }